CSS
table {
  width: 100%;
}
/* td {
  width: 80%;
} */
th {
  width: 20%;
  color: rgb(155, 139, 139);
  background-color: rgb(13, 86, 99);
  /* border-radius: 3px; */
}
.actions{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.capsula{
  background-color: darkgreen;
  
  border-radius: 10px;
}
.capsulaIn{
  background-color: rgb(158, 18, 18);
  
  border-radius: 10px;
}
.capsulaLettra{
  color: aliceblue;
  font: bolder;
  text-align: center;
}
.centrado{
  text-align: center;
}