<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                 <table mat-table #table [dataSource]="dataSource" >
                     <ng-container matColumnDef="detalles">
                         <th mat-header-cell *matHeaderCellDef> detalles </th>
                         <td mat-cell *matCellDef="let row"> 
                            <mat-icon (click)="openDialog(row.id, row.nombre,row.apellido,row.edad,row.status)" matTooltip="Ver detalles"
                                mat-raised-button style="color: rgb(170, 162, 151);">
                                remove_red_eye
                            </mat-icon>
                        </td>
                     </ng-container>
                     <!-- <ng-container matColumnDef="id">
                         <th mat-header-cell *matHeaderCellDef> id </th>
                         <td mat-cell *matCellDef="let row"> {{row.id}} </td>
                     </ng-container> -->
                     <ng-container matColumnDef="nombre">
                         <th mat-header-cell *matHeaderCellDef> nombre </th>
                         <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
                     </ng-container>
                     <ng-container matColumnDef="apellido">
                         <th mat-header-cell *matHeaderCellDef> apellido </th>
                         <td mat-cell *matCellDef="let row"> {{row.apellido}} </td>
                     </ng-container>
                     <ng-container matColumnDef="edad">
                         <th mat-header-cell *matHeaderCellDef> edad </th>
                         <td mat-cell *matCellDef="let row"> {{row.edad}} </td>
                     </ng-container>
                     <ng-container matColumnDef="status">
                         <th mat-header-cell *matHeaderCellDef> status </th>
                         <td mat-cell *matCellDef="let row"> 
                            {{row.status}}
                            <!-- <p *ngIf="row.status == 'activo'">1</p> -->
                         </td>
                     </ng-container>
                     <ng-container matColumnDef="acciones">
                         <th mat-header-cell *matHeaderCellDef> acciones </th>
                         <td mat-cell *matCellDef="let row"> 
                            <!-- <button mat-icon-button (click)="openDialogAct(row.id, row.nombre,row.apellido,row.edad,row.peso)">
                                <mat-icon>
                                    <i class="material-icons" matTooltip="Modificar">
                                    restore_page
                                    </i>
                                </mat-icon>
                            </button> -->
                            <div class="actions">
                                <button mat-icon-button (click)="openDialogAct(row)">
                                    <mat-icon>
                                        <i style="color: darkcyan;" class="material-icons" matTooltip="Modificar" >
                                        restore_outliner
                                        </i>
                                    </mat-icon>
                                </button>
                                <!-- <button mat-icon-button (click)="openDialogAct(row.id, row.nombre,row.apellido,row.edad,row.peso)">
                                    <mat-icon>
                                        <i style="color: darkcyan;" class="material-icons" matTooltip="Modificar">
                                        restore_outliner
                                        </i>
                                    </mat-icon>
                                </button> -->
                                <button (click)="borrarUsuario(row)" mat-icon-button>
                                    <mat-icon>
                                        <i style="color: darkred;" class="material-icons" matTooltip="Eliminar">
                                            delete_outline
                                        </i>
                                    </mat-icon>
                                </button>
                                <button (click)="activoInactivo(row)" mat-icon-button>
                                    <mat-icon>
                                        <i style="color: rgb(23, 139, 0);" class="material-icons" matTooltip="activo/inactivo">
                                            done_outline
                                        </i>
                                    </mat-icon>
                                </button>
                            </div>    
                            <!-- <button mat-icon-button>
                                <mat-icon>
                                    <i class="material-icons" matTooltip="Modificar">
                                        delete_outline
                                    </i>
                                </mat-icon>
                            </button>    -->
                        </td>
                        
                     </ng-container>
                     <tr mat-header-row *matHeaderRowDef="cols"></tr>
                     <tr mat-row *matRowDef="let row; columns: cols"></tr>
                 </table>
                 <!-- <mat-paginator [length]="length"
              [pageSize]="pageSize"
              [pageSizeOptions]="pageSizeOptions"
              (page)="pageEvent = $event">
</mat-paginator> -->
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
        </div>
        <button mat-button routerLink="/agregar">Agregar</button>
    </div>
</div>