<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <div class="col p-r-0">
                        <h1 class="font-light">Usuarios</h1>
                        <h6 class="text-muted">
                            <a mat-button routerLink="/usuarios">ver</a>
                        </h6>
                    </div>
                    <div class="col text-right align-self-center">
                        <div class="display-4"><i class="mdi mdi-account-circle text-info"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <div class="col p-r-0">
                        <h1 class="font-light">Nuevo</h1>
                        <h6 class="text-muted">
                            <a mat-button routerLink="/agregar">Agregar</a>
                        </h6>
                    </div>
                    <div class="col text-right align-self-center">
                        <div class="display-4"><i class="mdi mdi-account-multiple-plus text-danger"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <div class="col p-r-0">
                        <h1 class="font-light">352</h1>
                        <h6 class="text-muted">New Items</h6>
                    </div>
                    <div class="col text-right align-self-center">
                        <div class="display-4"><i class="mdi mdi-star-circle text-success"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="row p-t-10 p-b-10">
                    <div class="col p-r-0">
                        <h1 class="font-light">159</h1>
                        <h6 class="text-muted">Invoices</h6>
                    </div>
                    <div class="col text-right align-self-center">
                        <div class="display-4"><i class="mdi mdi-receipt text-danger"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>