<div *ngIf="data">
    <h2> Details</h2>
    <div><span>id: </span>{{data.id}}</div>
    <div>
        <mat-form-field class="example-full-width">
      <label>nombre:
        <input matInput [(ngModel)]="data.nombre" placeholder="nombre"/>
      </label>
    </mat-form-field>
    </div>
    <div>
      <label>apellido:
        <input matInput [(ngModel)]="data.apellido" placeholder="apellido"/>
      </label>
    </div>
    <div>
      <label>edad:
        <input matInput [(ngModel)]="data.edad" placeholder="edad"/>
      </label>
    </div>
    <div>
      <label>status:
        <input matInput [(ngModel)]="data.status" placeholder="status"/>
      </label>
    </div>
    <!-- <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button> -->
  </div>
  <div class="row">
      <div class=" ">
        <button (click)="actaulizarUsuario(data)" mat-button style="background-color: lightseagreen; color: white;">Actualizar</button>
      </div>
  </div>
<!-- 
    <mat-form-field class="example-full-width">
        <mat-label>id</mat-label>
        <input matInput value="{{data.id}}" disabled>
    </mat-form-field> &nbsp;
    <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput value="{{data.nombre}}" >
    </mat-form-field> &nbsp;
    <mat-form-field class="example-full-width">
        <mat-label>Apellido</mat-label>
        <input matInput value="{{data.apellido}}" >
    </mat-form-field>&nbsp;
    <mat-form-field class="example-full-width">
        <mat-label>Edad</mat-label>
        <input matInput value="{{data.edad}}" >
    </mat-form-field>&nbsp;
    <mat-form-field class="example-full-width">
        <mat-label>Status</mat-label>
        <input matInput value="{{data.status}}" >
    </mat-form-field>&nbsp;
  <div class="row">
      <div class=" ">
        <button (click)="actaulizarUsuario(data)" mat-button style="background-color: lightseagreen; color: white;">Actualizar</button>
      </div>
  </div> -->

<!-- <form (ngSubmit)="actaulizarUsuario( f )" #f = "ngForm" class="example-form">
    <mat-form-field class="example-full-width">
        <mat-label>id</mat-label>
        <input matInput value="{{data.id}}" disabled>
    </mat-form-field> &nbsp;
    <mat-form-field class="example-full-width">
        <mat-label>Nombre</mat-label>
        <input matInput value="{{data.nombre}}" [(ngModel)]="usuario.nombre" name="nombre">
    </mat-form-field> &nbsp;
    <mat-form-field class="example-full-width">
        <mat-label>Apellido</mat-label>
        <input matInput value="{{data.apellido}}" [(ngModel)]="usuario.apellido" name="apellido">
    </mat-form-field>&nbsp;
    <mat-form-field class="example-full-width">
        <mat-label>Edad</mat-label>
        <input matInput value="{{data.edad}}" [(ngModel)]="usuario.edad" name="edad">
    </mat-form-field>&nbsp;
    <mat-form-field class="example-full-width">
        <mat-label>Peso</mat-label>
        <input matInput value="{{data.peso}}" [(ngModel)]="usuario.peso" name="peso">
    </mat-form-field>&nbsp;
  <div class="row">
      <div class=" ">
        <button mat-button style="background-color: lightseagreen; color: white;">Actualizar</button>
      </div>
  </div>
</form> -->

        
        